* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: lightgray;
}

nav {
    display: flex;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 430px;
    width: 100%;
    font-size: 20px;
}

.nav_link {
    border-radius: 50px;
    border: 2px solid;
    margin-left: 10px;
    padding: 10px 10px;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin: 0px auto;
    max-width: 1200px;
    width: 100%;
}

 img {
    max-width: 100%;
 }

 .logo {
    width: 180px;
    height: 120px;
    opacity: 70%;
    border-radius: 20px;
    border-style: groove;
 }

 ul {
    display: flex;
 }

 li {
    list-style-type: none;
 }

 h1 {
    
 }

 a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.search__container {
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 20px 20px;
}

.input__container {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 60px;
    font-size: 20px;
}

.input {
    width: 100%;
    border-radius: 500px;
    padding: 20px 40px;
    font-size: 20px;
    position: absolute;
    z-index: 1;
}

.btn__search {
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
    padding: 0 20px;
}


.browse--title {
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 45px;
    margin-bottom: 40px;
    max-width: 1000px;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: black;
}

.black-txt {
    color: black;
}

.search__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    padding: 20px 20px;
}

.search-info {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}

.search-type {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

#filter {
    width: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13%205.7L146.2%20227.2%2018.3%2075.1c-6.7-6.7-17.7-6.7-24.4%200-6.7%206.7-6.7%2017.7%200%2024.4l133.7%20133.7a17.6%2017.6%200%200%200%2024.4%200l133.7-133.7a17.6%2017.6%200%200%200%200-24.4c-6.8-6.8-17.7-6.8-24.5%200z%22%2F%3E%3C%2Fsvg%3E'); /* Custom arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.overlay {
    background-image: url(https://us1.discourse-cdn.com/firecore/original/2X/a/a7267662638d85a9ec016eb618711721756bb1fb.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 352px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 25%;
}

.movie__container {
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.movie {
    width: calc(25% - 10px);
    margin: 10px 10px 0 0; 
    height: auto;
}

.movie-card {
    background-color: white;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 420px;
    position: relative;
}

.movie-card__wrapper {
    width: 100%;
    max-height: 400px;
    position: relative;
    overflow: hidden;
}

.movie__img__wrapper {
    width: 100%;
    height: auto;
}

.movie__img {
    width: 100%;
    height: 300px;
}

p {
    font-size: 18px;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 0px;
}

.red {
    color: red;
}

.movies__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: darkgreen;
}

.movies__loading--spinner {
  display: none !important
}

.movies__loading .movies__loading--spinner {
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
    .movie {
        width: calc(50% - 10px);
    }
    .nav__links {
       display: none;
    }
    .nav__container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .browse--title {
        width: 550px;
        font-size: 32px;
        text-align: center;
    }
    .input {
        width: 550px;
    }
    .search__container {
        width: 550px;
    }
}

@media (max-width: 550px) {
    .movie {
        width: 100%;
    }
    .browse--title {
        width: 300px;
        font-size: 28px;
        text-align: center;
    }
    .input {
        width: 300px;
    }
    .search__container {
        width: 300px;
    }
    .search-type {
       display: none;
    }
     .search__row {
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .movie__img {
        height: 300px;
    }
}